.board {
	display: table;
	user-select: none;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
	width: 10px;
	height: 10px;
	border: 1px solid #999999;
	padding: 3px 10px;
}

.cell.blank {
	background: white;
	color: transparent;
}

.cell.start {
	background: lightblue;
}

.cell.end {
	background: orange;
}

.cell.dragTarget {
	border: 2px solid black;
	padding: 2px 9px;
}

.cell.dragSource {
	border: 2px dotted black;
	padding: 2px 9px;
}